body {
    font-family: Trebuchet MS, roboto, ubuntu, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
}

h1 {
    padding:20px;
    font-weight: 700;
    font-size: 36px;
}

.content h1{
    padding: 0px;
    text-align: left;
}

h1 a {
   text-decoration: none;
   color: black; 
}

h1 a:hover {
    text-decoration: none;
    color: blue; 
 } 


.content {
    text-align: center;
}

.header {
    background-color: white;
    border-bottom: 2px solid #dddddd;
}

.card {
    padding: 20px;
    padding-top: 0px;
    border: 0px solid #cccccc;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    background-color: white;
    display: inline-block;
    margin: 50px;
    margin-right:0;
    margin-bottom: 0;
    box-shadow: 0px 0px 5px 2px #ccc
}

#ukdatatable table th {
    text-align: left;
}

#ukdatatable table{
    width: 100%;
}